.add_advert_section{
    position: relative;
    width: 100%;
    height: 250px;
    float:left;
}

.add_new_advert{
        position: relative ;
     height: 250px;
     width: 45%;
     float:right;

     border: 3px dashed black;
 }
.add_new_advert h2, .add_new_advert a{
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 0 solid #ccc;
    background-color: #3432d5;
    color: white;
    width: 50%;
    overflow: hidden;
    border-radius: 4px;
text-align: center;
}
.add_new_advert h2{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left:-25%;
}

.add_advert_from_section{
    height: 250px;
    width: 45%;
    float: left;
}
/*/////////////////////////////////*/

.selected_advert{
    position: relative ;
    height: 250px;
    width: 45%;
    float:right;
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.selected_advert h2{
     width: 80%;
     position: absolute;
     text-align: center;
     left: 50%;
     margin-left: -40%;
     top: 45%;
     color: white;

 }

.selected_advert p{
      width: 80%;
      position: absolute;
      text-align: center;
      left: 50%;
      margin-left: -40%;
      top: 60%;
      color: white;

  }
.selected_advert h1{
    width: 80%;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -40%;
    top: 25%;
    color: white;

}
.add_advert_gradient{

    margin:0;
    padding: 0;
    width:100%;
    height: 250px;
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.90) 0%,rgba(0,0,0,0) 80%);
    background: linear-gradient(to top,  rgba(0,0,0,0.90) 0%,rgba(0,0,0,0) 80%);
}

#add_advertisement_form, #add_advertisement_form div{
    margin: 0;
    padding: 15px;
    width: 100%;
}

#add_advertisement_form input, #add_advertisement_form textarea {
    float:right;
    width: 50%;
}
#add_advertisement_form label {
    display:inline-block;
    width: 40%;
    float:left;
    text-align: right;
}
#add_advert_submit{
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 0px solid #ccc;
    background-color: #3432d5;
    color: white;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.add_advert_title{
    width: 100%;
}

@media screen and (min-width: 0px) and ( max-width: 1000px) {
    .selected_advert{
        width: 100%;
    }
.add_new_advert{
    width: 100%;
    margin: 0 auto;
    float: none;

}
    #add_advertisement_form textarea,#add_advertisement_form {
        float:none;
        width: 100%;
        padding:0;

        max-width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;

    }
    #add_advertisement_form input {
        float:none;
        width: 60%;
        margin-left:20%;
        height: 50px;
        max-width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #add_advertisement_form label{
        width: 100%;
        float:none;
        text-align: center;
    }
    #add_advertisement_form, #add_advertisement_form div{
    padding: 0;
    }

    #private_description{
        width: 100%;

    }
    .add_advert_from_section{
        padding:0;
        height: 250px;
        width: 100%;
        float: none;
    }
    .add_button{
       margin:0 ;
        padding:0;

    }
    .add_new_advert{

    }
    .add_new_advert h2, .add_new_advert a {
        position: relative;
    width: 80%;
    float:none
    }
    .add_new_advert h2{
        margin-left:-40%;
    }
}
