body {
    font-family: "Calibri", sans-serif;
}


.msg_error {
    background-color: #e0acac;
}

.msg_info {
    background-color: #97d397;
}







.contract_users .quer,
.contract_users .applicant {
    background-color: #fff;
    width: 48.32%;
    margin-right: 2%;
    float: left;
    border: #6564d9 solid 1px;
    /*border-radius: 5px;*/
    padding-top: 5px;
}

.contract_users .applicant {
    margin-right: 0;
}

.contract_users h3,
.contract_info h3 {
    text-align: center;
    border-bottom: #6564d9 solid 1px;
}

.contract_users .details {
    padding: 3%;
}

.contract_info .details {
    padding: 1.5%;
}

.contract_users .image {
    width: 35%;
    height: 155px;
    margin: 0;
    margin-right: 3%;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.contract_users .image,
.contract_users .info {
    float: left;
}

.contract_users .info label,
.contract_users .info span {
    display: block;
    float: left;
}

.contract_users .info label {
    width: 80px;
}

.contract_info {
    width: 100%;
    border: #6564d9 solid 1px;
    /*border-radius: 5px;*/
    margin-top: 25px;
}


/* tables */

/*
table {
    margin-left: 0;
    border-collapse: collapse;
}

table td,
table th {
    border: 0;
    text-align: left;
    padding: 5px 10px;
}

table td {
    border-bottom: 1px solid #CDCCF5;
}

table tr:hover {
    background-color: #EEEEFC;
}

table tr:first-child {
    background-color: #CDCCF5;
}
*/


.quers_overview img {
    width: 45px;
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}




/* forms */

form label,
form input,
form textarea {
    float: left;
}

form div {
    margin-bottom: 10px;
}

form label {
    width: 150px;
    margin-right: 20px;
}

form input,
form textarea {
    /*border: 1px solid #3432d5;
    border-radius: 5px;*/
    border: none;
    background-color: #EEEEFC;
    padding: 5px 10px;
    width: 250px;
}

form textarea {
    height: 80px;
    max-width: 500px;
    max-height: 350px;
}


/*   CLEARFIX   */
.contract_users::before, .contract_users::after,
.contract_users .details::before, .contract_users .details::after,
.contract_users .info div::before, .contract_users .info div::after,
form div::before, form div::after {
    content: "";
    display: table;
    line-height: 0;
}

.contract_users::after,
.contract_users .details::after,
.contract_users .info div::after,
form div::after {
    clear: both;
}




@media screen and (max-width: 1400px){
    .variable_content {
        width: 100%;
        margin: 0 auto;

    }

}


