body {
    font-family: "Calibri", sans-serif;
}


.msg_error {
    background-color: #e0acac;
}

.msg_info {
    background-color: #97d397;
    padding: 5px;
}



.variable_content h1 {
    text-align: center;
    margin: 10px 0;
    color: #3432d5;
}



/* forms */

form label,
form input,
form textarea {
    float: left;
    font-family: inherit;
    font-size: inherit;
}

form div {
    margin-bottom: 10px;
}

form label {
    width: 150px;
    margin-right: 20px;
}

form input,
form textarea {
    /*border: 1px solid #3432d5;
    border-radius: 5px;*/
    border: none;
    background-color: #CDCCF5;
    padding: 5px 10px;
    width: 250px;
}

form textarea {
    height: 80px;
    max-width: 500px;
    max-height: 350px;
}



/* ************    QUE'RS OVERVIEW     ************ */

.quers_overview {
    border-collapse: collapse;
    width: 100%;
}

.quers_overview th {
    padding: .5em;
    background-color: #ece7e9;
}

.quers_overview tr td:first-child {
    width: 50px;
}

.quers_overview tr th:nth-child(3) {
    text-align: right;
}

.quers_overview tr td:nth-child(3) {
    width: 80px;
    text-align: right;
}

.quers_overview tr th:nth-child(4),
.quers_overview tr td:nth-child(4) {
    text-align: right;
}

.quers_overview tr.body {
    border-bottom: #CDCCF5 solid 1px;
    background-color: #faf4f6;
}

.quers_overview tr.body:hover {
    background-color: #faf4f6;
}

.quers_overview tr.body a.choose {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color: #3432d5;
    color: #fff;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
}


/* ************    DASHBOARD     ************ */

.dashboard h3,
.dashboard h3 {
    border-bottom: #CDCCF5 solid 1px;
    padding: 5px;
}

.dashboard ul {
    padding: 0;
    list-style: none;
}

.dashboard ul li {
    padding: 10px 0;
}

.dashboard ul li:before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: contain;
    background-image: url(../images/querlogo/mini_logo.png);
    margin-right: 10px;
    vertical-align: middle;
}


.dashboard ul li a {
    font-weight: bold;
    color: #3432d5;
    text-decoration: none;
}

.dashboard ul li a:hover {
    text-decoration: underline;
}


/* ************    CONTRACT OVERVIEW     ************ */

.contracts_quer,
.contracts_applicant {
    background-color: #faf4f6;
    margin-bottom: 50px;
}

.contracts_quer h2,
.contracts_applicant h2 {
    border-bottom: #CDCCF5 solid 1px;
    padding: 5px;
    text-align: center;
    background-color: #ece7e9;
}

/*.contracts_quer div div,
.contracts_applicant div div {
    padding: 10px;
    border-bottom: #CDCCF5 solid 1px;
}*/


.contracts_quer div a,
.contracts_applicant div a {
    display: block;
    width: 95%;
    padding: 15px 2.5%;
    border-bottom: #CDCCF5 solid 1px;
    text-decoration: none;
    color: #3432d5;
}

.contracts_quer div a:hover,
.contracts_applicant div a:hover {
    background-color: #3432d5;
    color: #fff;
}

.contracts_quer div a .left,
.contracts_applicant div a .left {
    padding-left: 20%;
    width: 60%;
    float: left;
    text-align: center;
}

.contracts_quer div a .right,
.contracts_applicant div a .right {
    float: right;
    width: 15%;
    text-align: right;
}


/* ************    CONTRACT DETAILS     ************ */
.contract_users .quer,
.contract_users .applicant {
    width: 48.32%;
    margin-right: 2%;
    float: left;
    /*border: #6564d9 solid 1px;
    border-radius: 5px;*/
}

.contract_users .applicant {
    margin-right: 0;
}

.contract_users h3,
.contract_info h3 {
    text-align: center;
    border-bottom: #CDCCF5 solid 1px;
    padding: 5px;
}

.contract_users .details {
    padding: 3%;
}

.contract_info .details {
    padding: 1.5%;
}

.contract_users .image,
.contract_users .info {
    float: left;
}

.contract_users .image {
    width: 36%;
    height: 155px;
    margin: 0;
    margin-right: 4%;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.contract_users .info {
    width: 58%;
}

.contract_users .info div {
    padding: 5px 2px;
}

.contract_info {
    width: 100%;
    /*border: #6564d9 solid 1px;
    border-radius: 5px;*/
    margin-top: 25px;
    margin-bottom: 100px;
}

.contract_info .details .static,
.contract_info .details .variable {
    width: 47.5%;
    margin: 0;
    margin-right: 5%;
    float: left;
}

.contract_info .details .variable {
    margin-right: 0;
}

.contract_info .details .static div {
    margin-bottom: 5px;
}

.contract_info .details label,
.contract_info .details span {
    float: left;
    display: block;
}

.contract_info .details label {
    margin: 0;
    font-weight: bold;
    width: 40%;
}

.contract_info .details span {
    width: 45%;
    text-align: right;
}

.contract_info .details .price {
    text-align: right;
}

.ad_info {
    margin-top: 20px;
    padding-top: 20px;
    border-top: #CDCCF5 solid 1px;
}

.ad_info h4 {
    text-align-last: center;
    padding-bottom: 10px;
}

#upload_ticket {
    margin-top: 15px;
}

#upload_ticket label,
#upload_ticket input {
    display: block;
    float: left;
    padding: 5px 0;
}

#upload_ticket label {
    width: 35%;
}

#upload_ticket input {
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
}

#upload_ticket input[name="contract_id"] {
    visibility: hidden;
    height: 0px;
    padding: 0;
}

#upload_ticket input[type="submit"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #3432d5;
    color: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.variable .ticket,
.variable #accept_ticket {
    padding-bottom: 20px;
    border-bottom: #CDCCF5 solid 1px;
}

.variable .ticket a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    font-size: 18px;
    background-color: #3432d5;
    color: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

#accept_ticket {
    margin-top: 15px;
}

#accept_ticket label,
#accept_ticket input[type="checkbox"] {
    padding: 5px 0;
}

#accept_ticket label {
    width: 90%;
}

#accept_ticket input[type="checkbox"] {
    width: 10%;
    margin-top: 9px;
}

#accept_ticket input[type="submit"],
.review input[type="submit"] {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    background-color: #3432d5;
    color: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.review {
    margin-top: 15px;
}

#add_review textarea {
    width: 95%;
    max-width: 95%;
}

#add_review .rate label,
#add_review .rate input {
    float: left;
}

#add_review .rate label[for="add_rev_rate"] {
    float: none;
    clear: both;
}

#add_review .rate div {
    float: left;
    margin-right: 15px;
}

#add_review .rate input {
    width: 10px;
    margin-right: 5px;
    margin-top: 4px;
}
#add_review .rate div label {
    width: 20px;
}


#add_review .succeeded input {
    width: 20px;
}


/* ************    EDIT ACCOUNT     ************ */
.edit_account {
    /*background-color: #faf4f6;*/
    margin: 50px 0;
}

.edit_account form {
    width: 45%;
    margin: 0 auto;
}

.edit_account form button[type="submit"] {
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    background-color: #3432d5;
    color: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/* tables */

/*
table {
    margin-left: 0;
    border-collapse: collapse;
}

table td,
table th {
    border: 0;
    text-align: left;
    padding: 5px 10px;
}

table td {
    border-bottom: 1px solid #CDCCF5;
}

table tr:hover {
    background-color: #EEEEFC;
}

table tr:first-child {
    background-color: #CDCCF5;
}
*/


.quers_overview img {
    width: 45px;
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}




/* ************    ADVERT OVERVIEW     ************ */

.advert_overview {
    margin-bottom: 50px;
}

.left_box,
.right_box {
    width: 42.5%;
    margin-right: 5%;
    float: left;
}

.right_box {
    margin-right: 0;
}

.left_box h3,
.right_box h3 {
    text-align: center;
    border-bottom: #CDCCF5 solid 1px;
    padding: 5px;
    margin-bottom: 20px;
}

.advert_overview .left_box img {
    width: 100%;
    height: auto;
}

.left_box .description {
    margin: 20px 0;
}

.left_box label,
.left_box span {
    display: block;
    margin: 0;
    margin-right: 5%;
    width: 40%;
    float: left;
}

.left_box label {
    font-weight: bold;
}

.left_box span {
    margin-right: 0;
}

.right_box .applicant {
    margin-bottom: 10px;
}

.right_box .applicant img,
.right_box .applicant span {
    float: left;
    margin-right: 10px;
}

.right_box img {
    width: 45px;
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}

.right_box .applicant span {
    padding: 6px 0;
    font-weight: bold;
    font-size: 1.4em;
}

.right_box .description {
    margin-bottom: 20px;
}

.right_box .price label,
.right_box .price span {
    display: block;
    float: left;
    width: 30%;
}

.right_box .price label {
    width: 15%;
}

.form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: #CDCCF5 solid 1px;
}

.form div label,
.form div input {
    display: block;
    width: 120px;
    float: left;
}

.form div input {
    width: calc(100% - 160px);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #f0f0f7;
}

.form button[type="submit"] {
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    background-color: #3432d5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}



/* ************    SEARCH RESULTS     ************ */


.search_results .homepage-adverts > div {
    width: 33%;
    float: left;
    height: 280px;
    overflow: hidden;
    min-width: 300px;
    margin: 0 auto;
    background-repeat:no-repeat !important;
    background-size: cover !important;;
    background-position:center !important;;
}

.search_results .homepage-adverts-gradient {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to top, rgba(0,0,0,0.90) 0%,rgba(0,0,0,0) 65%);
}

.search_results .homepage-adverts-gradient h2 {
    position: absolute;
    top: 20%;
    width: 90%;
    left: 5%;
    text-align: center;
    font-size: 1.8em;
}

.search_results .homepage-adverts div h2 a{
    text-decoration: none;
    color: white;
}

.search_results .homepage-adverts-gradient ul {
    position: absolute;
    width: 100%;
    bottom: 0%;
    margin: 0;
    list-style: none;
    padding: 0;
}

.search_results .homepage-adverts-gradient ul li {
    float: left;
    color: white;
    font-weight: bold;
}

.search_results .homepage-adverts-gradient ul li p {
    margin-top: 10px;
}

.search_results .homepage-adverts-gradient ul li p a {
    color: #fff;
}

.search_results .homepage-adverts div ul li:last-child {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.search_results .homepage-adverts div ul img{
    width: 40px;
    margin: 0 10px;
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}










/*   CLEARFIX   */
.contracts_quer div a::before, .contracts_quer div a::after,
.contracts_applicant div a::before, .contracts_applicant div a::after,
.contract_users::before, .contract_users::after,
.contract_users .details::before, .contract_users .details::after,
.contract_users .info div::before, .contract_users .info div::after,
.contract_info .details::before, .contract_info .details::after,
.contract_info .details .static div::before, .contract_info .details .static div::after,
#upload_ticket div::before, #upload_ticket div::after,
.variable #accept_ticket::before, .variable #accept_ticket::after,
#add_review .rate::before, #add_review .rate::after,
#add_review .rate div::before, #add_review .rate div::after,
.advert_overview::before, .advert_overview::after,
.advert_overview .date::before, .advert_overview .date::after,
.right_box .applicant::before, .right_box .applicant::after,
.right_box .price::before, .right_box .price::after,
.search_results::before, .search_results::after,
form div::before, form div::after {
    content: "";
    display: table;
    line-height: 0;
}

.contracts_quer div a::after,
.contracts_applicant div a::after,
.contract_users::after,
.contract_users .details::after,
.contract_users .info div::after,
.contract_info .details::after,
.contract_info .details .static div::after,
#upload_ticket div::after,
.variable #accept_ticket::after,
#add_review .rate::after,
#add_review .rate div::after,
.advert_overview::after,
.advert_overview .date::after,
.right_box .applicant::after,
.right_box .price::after,
.search_results::after,
form div::after {
    clear: both;
}




@media screen and (max-width: 1200px){
    .variable_content {
        width: 100%;
        margin: 0 auto;

    }

}


@media screen and (max-width: 600px){
    
    .contract_users .quer,
    .contract_users .applicant,
    .contract_info {
        width: 80%;
    }
    
    .contract_users .quer,
    .contract_users .applicant,
    .contract_info .static,
    .contract_info .variable,
    .left_box,
    .right_box {
        float: none;
        clear: both;
        margin: 20px auto;
    }
    
    .contract_info .details .static,
    .contract_info .details .variable,
    .left_box,
    .right_box {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .contract_info .details .variable {
        padding-top: 20px;
        border-top: #CDCCF5 solid 1px;
    }

    .left_box div+div,
    .right_box > div {
        width: 80%;
        margin: 20px auto !important;
    }
    
}

@media screen and (max-width: 400px){
    
    .contracts_quer div a .left,
    .contracts_applicant div a .left {
        width: 100%;
        padding: 0;
    }
    
    .contracts_quer div a .right,
    .contracts_applicant div a .right {
        display: none;
    }
}




