.my_advert_wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 120px;

    padding: 0;
}

.my_advert_quers_left  {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 15px;

    border-collapse: separate;
    border-spacing:0 15px;
}
.my_advert_right {
    width:  calc(100% - 135px);
    float:right;
    height: 120px;

    border-collapse: separate;
    border-spacing: 0 15px;

}

.my_advert_quers_left tr{

    width: 120px;
    height: 120px;
    margin-right: 15px;

}
.my_advert_right tr  {
    margin-top: 15px;
    width:  calc(100% - 135px);

    height: 120px;

}
.my_advert_right tr, .my_advert_right td  {
    height: 120px;
    max-height: 120px;
    padding: .5em;
overflow:hidden;
    background-color: #faf4f6;
    border: 0;
    text-align: left;
    border-bottom: 1px solid #CDCCF5;

}

.my_advert_quers_left tr, .my_advert_quers_left td  {
    height: 120px;
    width: 120px;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #377037;
  text-align: center;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.my_advert_quers_left th {
    text-align: center;

}

.my_advert_quers_left td a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.my_advert_quers_left td p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
}


.my_advert_right  tr:first-child {
    height: 60px;

}
.my_advert_right th {
   padding: .5em;
    background-color: #ece7e9;

}




.my_advert_quers_left  tr:first-child {
    height: 60px;
    background-color:white;
}


.my_adv_page_title{
    width: 100%;
}
.my_adv_page_title h1, .my_adv_page_title p{
    text-align: center;
}

.my_advert_right_max_height{
    max-height: 120px;
    overflow: hidden;
}

@media screen and (max-width: 600px){
.my_advert_quers_left{
    display:none;
}
.my_advert_right{
    width: 100%;
}

}

.new_advert_btn a{
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 0px solid #ccc;
    background-color: #3432d5;
    color: white;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
