/* cistom app nav stuff */

*{
    margin: 0 auto;
}
.standard-nav{
    font-family: "Helvetica Neue", sans-serif;
    width:100% ;
    height: 250px;

    margin: 0 auto;
    z-index: 1;

    background:url('../images/homepage_banner/party_1.jpg');
    background-repeat:no-repeat !important;
    background-size: cover !important;
    background-position:center !important;

}
.sub-nav-background-gradient{


    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

    width: 100%;
    height: 250px;
}


.sub-nav-right{
float:right;
    padding-right: 15px;
    padding-top: 15px;
}
.sub-nav-left{
    float:left;
    font-size: 2em;
    padding: 0;
    padding-left: 15px;
    padding-top: 15px;
}

.sub-nav-left li{
    display: inline-block;
    vertical-align: middle;
}

.standard-nav .sub-nav-left li a {
    font-size: 1em;
}


.standard-nav ul li {
    display: inline-block;
    color: #fff;
    text-align: right;
    vertical-align: middle;
}
.standard-nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 1.5em;
}


.sub-page-title{
    position: absolute;

    width: 100%;
    top: 120px;
}

.sub-page-title h1{
    text-align: center;
    color:white;
}

.burger-wrapper{

    float:right;
}
.burger-wrapper img{
    position: relative;
    right: 15px;
    top: 15px;

}

.inner-nav-content{

}
.navbar-dekstop-sub{
    /*position: relative;
    left: -38px !important;*/
    width: 100%;
    padding: 0;
}

.dropdown .dropdown-content .navbar-dekstop-sub li {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    text-align: left;
}

.dropdown .dropdown-content .navbar-dekstop-sub li a {
    width: 90%;
    color: #000;
    font-size: 20px;
    display: block;
    padding: 15px 5%;
    padding-left: 5px;
    transition: all 0.5s ease;
}


.dropdown .dropdown-content .navbar-dekstop-sub li a:hover {
    padding-left: 25px;
    transition: all 0.5s ease;
}

@media screen and (min-width: 0px) and ( max-width: 1400px){
    .sub-nav-right{
        display:none;
    }
    .standard-nav{
        height: 180px;
    }
    .sub-page-title{

        top: 90px;
    }
}
@media screen and (min-width: 1400px){
    .burger-wrapper{
        display:none;
    }

}
